*{
  box-sizing: border-box;
}
html,body{
  font-family:'Montserrat', sans-serif;
  width:100%;
  height:100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  }
$bg-img:'../images/investment image.png';
$primarycolor:#7d4b8a;
$secondarycolor:#f4f4f4;
$secondarycolor2:#252525;

.bg-img{
background-image: url($bg-img);
min-height:600px;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
position: relative;
}
:hover a{
color:$primarycolor;
}
.navbar-toggler{
background:#f4f4f4;
width:3.125rem;
height:3.125rem;
}
.navbar-toggler span{
background-color:$primarycolor; 
margin:3px 5px;
width:20px;
height:3px;
border:none;
display: block;
transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.nav-link{
color:$secondarycolor;
}
.navbar-collapse,.navbar-brand{
  z-index:2;
  margin-left: 5px;
  }
 .wrapper {
   position:absolute;
    top: 0%;
    background: rgba(125, 75, 138,0.2); 
    color:$secondarycolor; 
    width:600px; 
    height:600px;
    padding: 25px;
    backdrop-filter:blur(22px);
    -webkit-backdrop-filter:blur(22px) ; 
} 

.box{
  display: flex;
  flex: 50%;
  }
#transparentbox{
position: absolute; 
bottom: 5px;
left: 380px;
z-index:1;

}
.content{
position:absolute;
top: 60%;
left: 30%;
transform: translate(-50%, -50%);
}
#bold{
font-weight: bolder;
font-size: 30px;
}
.info{
 text-align: center;
}
.info span,.card-title,.infos span,#brand{
color:$primarycolor;
}
.infos{
  @extend .info;
color: #f4f4f4;
margin-top:1.25rem;
}
.card{
background: #f0f0f0;
}
.button{
background:$primarycolor;
width:10.625rem;
height:2.8125rem;
color:#fedae8;
border:none;
}
#btns{
@extend .button;
margin-left:6.25rem;
width:18.75rem;
}
.about{
background:$secondarycolor2;

}

#icons{
width:1.875rem;
height:1.875rem;
margin: 1.25rem 7.5rem;
color: $primarycolor;
}

.contents{
background: #292929;
color:$secondarycolor;
 
}
.imgs{
background-image:url("../images/customer care.png");
background-position:center;
background-size:cover;
height:25rem;
}
.requestform{
margin: 1.25rem 1.25rem;
}
.requestform input{
width:100%;
height:3.125rem;
border:2px solid $secondarycolor;
background:#ececec;
}
.testimonials{
background-color:$primarycolor;
color:$secondarycolor;
text-align: center;
}
.customer{
background:#6D4079;;
width:18.75rem;
height:5rem;
}
#customer{
 position:absolute;
 left:0.9375rem;
}
 .profile{
background:#8C579A;
width:18.75rem;
height:18.75rem;
padding:0.3125rem;
line-height:1.375rem;
}

.bckg{
background:$secondarycolor2;
height:2.5rem;
}
footer{
background: #000000;
color:$secondarycolor;
position: relative;
}

#links{
margin-left:5.625rem;
}
#link{
text-align:center;
}
li{
list-style:none;
}
@media only screen and (max-width:500px){
  body{
  font-size:60%;
  margin:0 auto;
  }
  html{
  font-size:1rem;
  margin:0 auto;
  }
.about{
height:auto;
}
#btnsn{
margin-left:3.125rem;
width:9.375rem;
height:2.5rem;
}
.button{
 width:9.375rem;
 height:2.5rem;
}
}

